:root {
  --primary:#2ecc71;
  --dark:#178e48; 
  --accent:#2c3e50;
  --text:#333;
  --diveder:#ecf0f1; 
  --font-family: "Roboto", sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  
}